services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: db_questions
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "6000:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    environment:
      DATABASE_URL: postgresql://postgres:1234@db:5432/db_questions
      PORT: 3000
      NODE_ENV: development
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  pgdata: