services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: db_questions
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "7000:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata:
